@import "tailwindcss";

:root {
  --background: oklch(97.7% 0.013 236.62);
  --foreground: #171717;
}


body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes fadeSlideLeft {
  0% { opacity: 0; transform: translateX(-40px) translateY(-50%); }
  100% { opacity: 1; transform: translateX(0) translateY(-50%); }
}

@keyframes fadeSlideRight {
  0% { opacity: 0; transform: translateX(40px) translateY(-50%); }
  100% { opacity: 1; transform: translateX(0) translateY(-50%); }
}

.animate-fade-left {
  animation: fadeSlideLeft 1s ease-out forwards;
}

.animate-fade-right {
  animation: fadeSlideRight 1s ease-out forwards;
}

